#game-results {
    display: flex;
    margin: 20px 0 20px 20px;
    height: 80px;
    width: 80px;
    border: solid black .4px;
}

#repeat-game.btn-style {
    margin-bottom: 12px;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px;
    
}